
body {
  padding-top: 70px;
  background-color: rgb(240, 248, 255);
}

/*
ghost white (248, 248, 255)
alice blue (240, 248, 255)
*/

#expense-form {
  margin: 0 auto;
  padding: 30px 45px 20px;
  position: relative;
  top: 40px;
  width: 470px;
  box-sizing: border-box;
  background: rgba(211, 211, 211, 0.8);
}

th,
td {
  text-align: center;
}

#expense-table {
  margin-top: 80px;
  background-color: rgba(211, 211, 211, 0.95);
  border: 2px outset darkgrey;
}
