
body {
  padding-top: 70px;
  background-color: rgba(191, 239, 255, 0.1);
}

.media-body {
  text-align: center;
}

.heading {
  margin: 30px 10px 10px;
  box-sizing: border-box;
  width: 220px;
  height: 65px;
  border: 1.5px double slategray;
  padding: 10px;
  background-color: white;
}

#heading {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 1000px;
}

.chart-container {
  margin: 20px auto 10px;
  width: 850px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px outset darkgrey;
  background-color: white;
}

#transaction-form {
  margin: 0 auto;
  padding: 15px 45px 20px;
  width: 470px;
  box-sizing: border-box;
}

.radio-container {
  width: 470px;
  margin: 0 auto;
}

#form-container {
  position: relative;
  top: 30px;
}

#radio-income {
  margin-left: 30px;
}

th,
td {
  text-align: center;
}

#expense-table {
  margin-top: 70px;
  background-color: rgba(211, 211, 211, 0.6);
  border: 2px outset darkgrey;
}

.hidden {
  display: none;
}
